@use "../utils/variables" as var;


$fonts: var.$font-weights;

@each $key, $value in $fonts {
   @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-#{$key}.wolf2) format('wolf2'),
    url(../fonts/Montserrat-#{$key}.wolf) format('wolf');
    font-weight: $value;
    font-style: normal;
    font-display: swap;
} 
}
